*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Chivo', sans-serif;
font-family: 'Overpass', sans-serif;
}
:root{
--main-color: #fff;
--accent-color: #ffc901;
}
p{
color: var(--main-color);
}
a{
color: var(--accent-color);
text-decoration: none;
text-transform: uppercase;
}
img{
display: block;
}
/* Header ============================================================================================================================================================================ */
#header{
height: 100vh;
background: url(../img/bg/bg-1.png) center/cover;
}
.header-wrap{
grid-template-columns: 1fr 1fr;
}
.nav{
width: 100%;
padding: 30px;
background: rgba(255,255,255,0.7);
position: fixed;
top: 0;
z-index: 100;
}
.nav-wrap{
grid-template-columns: 2fr 1fr 2fr;
grid-gap: 100px;
}
.nav ul{
list-style-type: none;
}
.nav a{
margin: 0 25px;
color: var(--main-color);
font-family: 'Chivo', sans-serif;
}
.nav img{
margin: 0 auto;
}
.header-main p{
text-align: right;
}
.header-main a{
width: fit-content;
display: block;
margin: 0 0 0 auto;
}
.header-main img{
width: 250px;
margin: 100px 0 100px auto;
}
.header-action{
background: url(../img/bg/bg-1.1.png) center/cover;
padding: 20px;
}
/* About section ============================================================================================================================================================================ */
#about{
padding: 250px 0;
background: url(../img/bg/bg-2.png) center/cover;
}
.about-wrap{
grid-template-columns: 1fr 1fr;
grid-gap: 150px;
}
.about-wrap a{
width: fit-content;
display: block;
margin: 0 auto;
}
/* Utility classes =================================================================================================================================================================== */
.container{
width: 80%;
margin: 0 auto;
max-width: 1920px;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.flex-container-start{
display: flex;
justify-content: flex-start;
}
.flex-container-end{
display: flex;
justify-content: flex-end;
}
.grid-container{
display: grid;
}
.align-center{
align-items: center;
}
.section-headline p{
margin: 0 80px;
}
.section-description{
text-align: center;
margin: 150px 0 100px;
}
.text-xs{
font-size: 14px;
font-family: 'Overpass', sans-serif;
font-weight: 300;
}
.text-sm{
font-size: 25px;
font-family: 'Overpass', sans-serif;
font-weight: 300;
}
.text-md{
font-size: 40px;
font-family: 'Overpass', sans-serif;
font-weight: 300;
}
.text-lg{
font-size: 50px;
font-family: 'Chivo', sans-serif;
font-weight: 400;
text-transform: uppercase;
}
